@prefixClass: kite;
@color-white: #fff;
@color-black: #1d1d1d;
@color-default: #e0e0e0;
@color-default-heavy: darken(@color-default, 10%);
@color-primary: #1976d2;
@color-primary-heavy: darken(@color-primary, 10%);
@color-secondary: #dc004e;
@color-secondary-heavy: darken(@color-secondary, 10%);
@color-success: #18821c;
@color-success-heavy: darken(@color-success, 10%);
@color-warning: #d27e15;
@color-warning-heavy: darken(@color-warning, 10%);
@color-danger: #cc2b2b;
@color-danger-heavy: darken(@color-danger, 10%);
@color-disabled: #a6a6a6;
@button-height-default: 32px;
@button-height-small: 24px;
@button-height-large: 40px;

@line-height-base: 1.5715;

#colors() {
  default: @color-default;
  default-heavy: @color-default-heavy;
  primary: @color-primary;
  primary-heavy: @color-primary-heavy;
  secondary: @color-secondary;
  secondary-heavy: @color-secondary-heavy;
  success: @color-success;
  success-heavy: @color-success-heavy;
  warning: @color-warning;
  warning-heavy: @color-warning-heavy;
  danger: @color-danger;
  danger-heavy: @color-danger-heavy;
}
