@import "button/style/index";
@import "./layout/style/index";
@import "./grid/style/index";
@import "./switch/style/index";
@import "./radio/style/index";
@import "./checkbox/style/index";

#grid-demo {
  color: #fff;
}
#docs-layout-demo {
  color: #fff;
  section + section {
    margin-top: 48px;
  }
  section {
    text-align: center;
    overflow: hidden;
    aside {
      flex: 0 0 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #108ee9;
    }
    header, footer {
      background-color: #6ec6ff;
    }
    main {
      min-height: 120px;
      line-height: 120px;
      background-color: #2196f3;
    }
  }
}
#grid-demo {
  .kite-row {
    > div {
      min-height: 30px;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
      &:not(.gutter-row) {
        padding: 16px 0;
        &:nth-child(odd) {
          background: rgba(0, 146, 255, .75);
        }
        &:nth-child(even) {
          background: #0092ff;
        }
      }
    }
  }
}
.__dumi-default-layout-content {
  .markdown {
    table {
      text-align: left;
      tbody tr td:first-child {
        color: #0069c0;
      }
    }
  }
  .kite-btn {
    & + {
      margin-right: 8px;
    }
  }
  .demo-tag {
    border: 1px solid #91d5ff;
    background: #e6f7ff;
    color: #096dd9;
    padding: 0 4px;
    & + {
      margin-right: 8px;
    }
  }
}
.icon-demo-icon {
  &-wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    width: 100% / 6;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #555;
    margin-left: 8px;
    &:nth-child(5n+1) {
      margin-left: 0;
    }
  }
  &-text {
    margin-top: 8px;
    font-size: 14px;
  }
}
#icon-demo {
  .kiteicon {
    font-size: 24px;
    & + {
      margin-left: 8px;
    }
  }
}
#icon-demo-1 {
  .kiteicon {
    font-size: 24px;
    & + {
      margin-left: 8px;
    }
  }
}
#icon-demo-2 {
  .kiteicon {
    font-size: 24px;
    & + {
      margin-left: 8px;
    }
  }
}
