@import "button/style/index";
@import "./layout/style/index";
@import "./grid/style/index";
@import "./switch/style/index";

.__dumi-default-layout-content {
  color: #fff;
  section + section {
    margin-top: 48px;
  }
  section {
    text-align: center;
    overflow: hidden;
    aside {
      flex: 0 0 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #108ee9;
    }
    header, footer {
      background-color: #6ec6ff;
    }
    main {
      min-height: 120px;
      line-height: 120px;
      background-color: #2196f3;
    }
  }
  .markdown {
    table {
      text-align: left;
      tbody tr td:first-child {
        color: #0069c0;
      }
    }
  }
  .kite-btn {
    & + {
      margin-right: 8px;
    }
  }
  .kite-row {
    > div {
      min-height: 30px;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
      &:not(.gutter-row) {
        padding: 16px 0;
        &:nth-child(odd) {
          background: rgba(0, 146, 255, .75);
        }
        &:nth-child(even) {
          background: #0092ff;
        }
      }
    }
  }
  .demo-tag {
    border: 1px solid #91d5ff;
    background: #e6f7ff;
    color: #096dd9;
    padding: 0 4px;
    & + {
      margin-right: 8px;
    }
  }
}
